<?xml version="1.0"?>
<model>
  <name>pharmacy_environment</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>IFRA ConveyorBelt workspace</name>
  </author>
  <description>
    Simple indoor pharmacy-like environment (floor, walls, shelves, signage).
  </description>
</model>
